---
interface Props {
  title: string
  href?: string
  thumbSrc?: string
  meta?: string
}
const { title, href, thumbSrc, meta } = Astro.props
---
<article class={`card article`}>
  <a href={href} title="{title}">
    <h3>{title}</h3>
    <img src={thumbSrc} alt={title} loading="lazy" />
    <p>{meta && <p>{meta}</p>}</p>
  </a>
</article>
