---
interface Props {
  title: string
  href?: string
  cardClass?: string
  thumbSrc?: string
  status?: string
  meta?: string
}
const { title, href, cardClass, thumbSrc, meta, status} = Astro.props
---
<article class={`card project ${cardClass} ${status}`}>
  <a href={href} title={title}>
    <div class="thumb">
      {thumbSrc && <img src={thumbSrc} alt={title} loading="lazy" />}
    </div>
    <div class="meta">
      <h3>{title}</h3>
      {meta && <p>{meta}</p>}
    </div>
  </a>
</article>
